body {
  min-width: 250px;
}
img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
.options {
  text-decoration: none;
  font-size: 1rem;
}
.options:hover {
  color: rgb(19, 143, 19);
}
.lvlimage {
  display: flex;
  align-items: center;
}
.lvlimage img{
  width: auto;
  margin-left: 10px;
  margin-right: 20px;
}